<div class="container mt-4">
  <h1>User Contacts</h1>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Type</th>
        <th>Value</th>
        <th>Verified</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user_contacts.each do |uc| %>
        <tr>
          <td><%= uc.id %></td>
          <td><%= link_to uc.user.display_name, admin_user_path(uc.user) %></td>
          <td><%= uc.contact_type %></td>
          <td><%= uc.value %></td>
          <td><%= uc.verified ? "Yes" : "No" %></td>
          <td>
            <%= form_with url: admin_user_contact_path(uc), method: :patch, local: true do |f| %>
              <%= hidden_field_tag :verified, (!uc.verified).to_s %>
              <%= submit_tag(uc.verified ? "Mark Unverified" : "Mark Verified", class: "btn btn-sm btn-secondary") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @user_contacts %>
</div>


