<% content_for :admin_breadcrumb do %>
  <span>Comments</span>
<% end %>

<div class="container-fluid">
  <h1 class="h3 mb-3">Comments</h1>
  <div class="admin-table-wrapper">
  <table class="table table-hover align-middle mt-3 admin-table-sticky">
    <thead>
      <tr>
        <th class="td-nowrap"><%= sort_link('id', 'ID') %></th>
        <th class="td-nowrap">User</th>
        <th class="td-nowrap">Post</th>
        <th class="td-nowrap">Content</th>
        <th class="td-nowrap"><%= sort_link('created_at', 'Created') %></th>
        <th class="td-nowrap"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |c| %>
        <tr>
          <td class="td-nowrap"><%= c.id %></td>
          <td class="td-nowrap"><%= link_to c.user.display_name, admin_user_path(c.user) %></td>
          <td class="td-nowrap"><%= link_to c.post_id, admin_post_path(c.post_id) %></td>
          <td class="td-truncate"><%= truncate(c.content, length: 80) %></td>
          <td class="td-nowrap"><%= time_ago_in_words(c.created_at) %> ago</td>
          <td class="td-nowrap">
            <%= button_to "Soft Delete", soft_delete_admin_comment_path(c), method: :patch, class: "btn btn-sm btn-warning" %>
            <%= button_to "Delete", admin_comment_path(c), method: :delete, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= paginate @comments %>
</div>


