<div class="container mt-4">
  <h1>Admin Dashboard</h1>
  <div class="row mt-3">
    <div class="col-md-2"><strong>Total Users:</strong> <%= @total_users %></div>
    <div class="col-md-2"><strong>Active Users:</strong> <%= @active_users %></div>
    <div class="col-md-2"><strong>New Users (7d):</strong> <%= @new_users_7d %></div>
    <div class="col-md-3"><strong>Posts (7d):</strong> <%= @posts_7d %></div>
    <div class="col-md-3"><strong>Comments (7d):</strong> <%= @comments_7d %></div>
  </div>
  <div class="mt-4">
    <h3>Profiles by Type</h3>
    <ul>
      <% @profiles_by_type.each do |type, count| %>
        <li><%= type %>: <%= count %></li>
      <% end %>
    </ul>
  </div>
</div>


