<% content_for :admin_breadcrumb do %>
  <span>Profiles</span>
<% end %>

<div class="container-fluid">
  <h1 class="h3 mb-3">Profiles</h1>
  <table class="table table-hover align-middle mt-3">
    <thead>
      <tr>
        <th><%= sort_link('id', 'ID') %></th>
        <th>User</th>
        <th><%= sort_link('type', 'Type') %></th>
        <th><%= sort_link('display_name', 'Display Name') %></th>
        <th><%= sort_link('location_city', 'City') %></th>
        <th><%= sort_link('created_at', 'Created') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @profiles.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= link_to p.user.display_name, admin_user_path(p.user) %></td>
          <td><%= p.type %></td>
          <td><%= p.display_name %></td>
          <td><%= p.location_city %></td>
          <td><%= time_ago_in_words(p.created_at) %> ago</td>
          <td><%= link_to "View", admin_profile_path(p), class: "btn btn-sm btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @profiles %>
</div>


