<% content_for :admin_breadcrumb do %>
  <span>Sport Attributes</span>
<% end %>

<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Sport Attributes</h4>
    <%= link_to "New Attribute", new_admin_sport_attribute_path, class: "btn btn-primary" %>
  </div>
  <div class="admin-table-wrapper">
  <table class="table table-striped admin-table-sticky">
    <thead>
      <tr>
        <th class="td-nowrap">Key</th>
        <th class="td-nowrap">Label</th>
        <th class="td-nowrap">Type</th>
        <th class="td-nowrap">Options</th>
        <th class="td-nowrap">Active</th>
        <th class="td-nowrap"></th>
      </tr>
    </thead>
    <tbody>
      <% @sport_attributes.each do |attr| %>
        <tr>
          <td class="td-nowrap"><%= attr.key %></td>
          <td class="td-nowrap"><%= attr.label %></td>
          <td class="td-nowrap"><%= attr.field_type %></td>
          <td class="small td-truncate"><%= (attr.options || []).join(', ') %></td>
          <td class="td-nowrap"><%= attr.active? ? 'Yes' : 'No' %></td>
          <td class="text-end td-nowrap">
            <%= link_to "Show", admin_sport_attribute_path(attr), class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to "Edit", edit_admin_sport_attribute_path(attr), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "Delete", admin_sport_attribute_path(attr), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>


