<div class="container mt-4">
  <h1>Admin Invitations</h1>
  <%= link_to "New Invitation", new_admin_invitation_path, class: "btn btn-primary" %>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Token</th>
        <th>Expires At</th>
        <th>Accepted</th>
      </tr>
    </thead>
    <tbody>
      <% @invitations.each do |inv| %>
        <tr>
          <td><%= inv.email %></td>
          <td><%= inv.role %></td>
          <td><code><%= inv.token %></code></td>
          <td><%= inv.expires_at %></td>
          <td><%= inv.accepted_at ? "Yes" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @invitations %>
</div>


