<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Tournaments for <%= @user_sport.sport.name %> — <%= @user.display_name %></h4>
    <%= link_to 'Add Tournament', new_admin_user_user_sport_tournament_path(@user, @user_sport), class: 'btn btn-primary' %>
  </div>
  <div class="admin-table-wrapper">
  <table class="table table-striped admin-table-sticky">
    <thead>
      <tr>
        <th class="td-nowrap">Name</th>
        <th class="td-nowrap">Year</th>
        <th class="td-nowrap"></th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |t| %>
        <tr>
          <td class="td-truncate"><%= t.tournament_name %></td>
          <td class="td-nowrap"><%= t.year %></td>
          <td class="text-end td-nowrap">
            <%= link_to 'Edit', edit_admin_user_user_sport_tournament_path(@user, @user_sport, t), class: 'btn btn-sm btn-outline-primary' %>
            <%= link_to 'Delete', admin_user_user_sport_tournament_path(@user, @user_sport, t), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>


