<div class="container mt-4">
  <h1>Likes</h1>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Post</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @likes.each do |l| %>
        <tr>
          <td><%= l.id %></td>
          <td><%= link_to l.user.display_name, admin_user_path(l.user) %></td>
          <td><%= link_to l.post_id, admin_post_path(l.post_id) %></td>
          <td><%= time_ago_in_words(l.created_at) %> ago</td>
          <td><%= button_to "Remove", admin_like_path(l), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @likes %>
</div>


