<!DOCTYPE html>
<html>
  <head>
    <title>Admin · LinkSports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= admin_dashboard_path %>">Admin</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><%= link_to "Dashboard", admin_dashboard_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Users", admin_users_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Profiles", admin_profiles_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Posts", admin_posts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Comments", admin_comments_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Likes", admin_likes_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Sports", admin_sports_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Connections", admin_connections_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Invitations", admin_invitations_path, class: "nav-link" %></li>
          </ul>
          <span class="navbar-text text-white">Signed in as <%= current_user&.email %></span>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </div>
  </body>
  </html>


